<script src='https://usetrmnl.com/js/highcharts/12.3.0/highcharts.js'></script>
<script src='https://usetrmnl.com/js/chartkick/5.0.1/chartkick.min.js'></script>

{% liquid
  assign station_id = trmnl.plugin_settings.custom_fields_values.station_id
  assign current_time = 'now' | date: "%s" | plus: trmnl.user.utc_offset
  assign chart_id = 'tide-chart-' | append_random
%}

<script type='text/javascript'>
  function drawTides({small}) {
    const now = new Date()
    now.setSeconds({{ trmnl.user.utc_offset }})
    const labelSize = small ? '1.4em' : '2em'
  
    const heights = {{ IDX_0.predictions | json }}.map(p => [p.t, Number(p.v)])
    new Chartkick.LineChart(
      '{{ chart_id }}',
      heights,
      {
        colors: ['#000', '#FFF'],
        library: {
          plotOptions: { series: { animation: false, lineWidth: 4, color: "#000000", marker: { enabled: false } } },
          yAxis: {
            labels: {
              style: {
                fontSize: labelSize,
              },
            },
          },
          xAxis: {
            type: 'datetime',
            labels: {
              format: '{value:%l%p}',
              style: {
                fontSize: labelSize,
              },
            },
            plotLines: [{
                width: 2,
                color: '#000',
                value: now.getTime(),
                // label: {
                //   text: '{{ current_time | date: "%H:%M %p" }}',
                //   style: {
                //     fontSize: '1.8em',
                //   },
                // },
            }],
          }
        },
      },
    )
  }
</script>

{% template tide_time %}
  {% liquid
    assign bits = hilo.t | split: ' '
    assign time= bits[1]
    assign time_bits = time | split: ':'
    assign hours = time_bits[0] | abs
    if hours > 11
      assign ampm = 'p'
    else
      assign ampm = 'a'
    endif
    if hours > 12
      assign hours = hours | minus: 12
    endif
    assign minutes = time_bits[1]
    assign tide = hilo.type | append: ' ' | append: hours | append: ':' | append: minutes | append: ampm
  %}
  {{ tide }}
{% endtemplate %}

{% template daily_tide_chart %}
  <div class='flex flex--row border--h-4 pb--2 mb--2' style='justify-content: space-around;'>
    {% for hilo in IDX_2.predictions %}
      <div class='value value--{{ hilo_size }}' data-value-fit='true'>
        {% render 'tide_time', hilo: hilo %}
      </div>
    {% endfor %}
  </div>

  <div id='{{ chart_id }}' style='width: 100%; flex-grow: 1;'></div>

  <div class='title_bar'>
    <span class='station'>Station: {{ IDX_1.stations[0].name }} ({{ station_id }})</span>
    <span class='current-time'>{{ IDX_3.data[0].t | date: "%l:%M %p" }}</span>
    <span class='height'>Water level: {{ IDX_3.data[0].v }} above MLLW</span>
  </div>
{% endtemplate %}
